

body{
    background-color:#423d3d;
    margin: 0;
    
}
article {

  max-width: 35em; 
  margin-left: auto;
  margin-right: auto;
}

/* this section is the header of the article */

.header{
    background-image: url(../img/gallery-c.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #222028;
    color: white;
    padding: 0.5em;
    padding-top: 1.5em;
}
.header-logo {
    background-color: #FFBC48;
    color: #222028;
    padding: 0.5rem;
    font-weight: bolder;
}

.title {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub-title { 
    font-size: 1.35rem;
    text-align: left;
}

.underlined-text {
    text-decoration: underline;
    color: #FFBC48;  
    font-weight: bold;  
}


.header-list {
    list-style: none;
	padding-left: 0;
    text-transform: uppercase;   
}

.header-list li {
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
 }
.header-item {
    background-color: #FFBC48;
    color:#222028;
    margin-left: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 0.9em;
 }


/* this section is the navigation menu */

.navigation{
background-color:#222028; 
padding-top: 0.5rem;   
padding-bottom: 0.5rem;
    
}

.inline-menu {
    margin: 0;
    padding: 0;     
}

.inline-menu li {

    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    list-style-type: none;
    color: #FFBC48;
    
}

.inline-menu a {
    text-decoration: none;
    color: goldenrod;
}


/* this is the main section of the article*/

.main {
   
    background-color: white;
    padding: 0.5rem;
    text-align: justify;
    font-size: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h3 {
    text-transform: uppercase;
}
/* these are the images */

.images {
    width: auto;
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery {
    background-image: url(../img/gallery-a.jpg);
}
.mixing {
    background-image: url(../img/mixing-ingredients-480w.jpg);
}
.folding {
    background-image: url(../img/folding-dough-480w.jpg);
}
.proofing {
    background-image: url(../img/proofing-480w.jpg);
}
.baking {
    background-image: url(../img/baked-baguettes-960w.jpg);
    
}
.ready {
    background-image: url(../img/ready-to-eat-960w.jpg);

}

/* End of imgages */

/* quote by writer */
blockquote {
    font-size: 1em;
    border-left: 3px solid #FFBC48;
    margin-left: 0;
    margin-right: 0;
    padding: 0 calc(1em - 3px);
}


/* this section is for side content of the article */
.side-content {
     display: none;
     background-color: #FFBC48;
     text-align: justify;
     padding: 1em;
 }
.side-title {
    text-align: center;
    font-weight: bold;
}


 /* this section is for the table */
table {
     height: 25rem;
     width: 100%;
     border-collapse: collapse;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
tr {
    height: 3.125em;
}

tr:nth-child(odd) {
    background-color: rgb(224, 217, 217);
  }

.table-header{
      text-align: center;
      vertical-align: middle;
      background-color: white;
  }
  
th, td {
    border: 2px solid gray;
    text-align: center;
    vertical-align: middle;
}

/* this section is for the footer */

footer {
    background-color: black;
    color: white;
}